@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova:600,700,800,900');

$family-primary: Proxima Nova;

$primary: #FD6B4B;
$link: $primary;

$weight-normal: 600;
$weight-medium: 700;
$weight-semibold: 800;
$weight-bold: 900;

$title-weight: $weight-bold;

@import "../../../node_modules/bulma/bulma.sass";
